[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
api-toolkit = {git = "git+https://github.com/kyleranous/api_toolkit.git"}
requests = "*"

[dev-packages]
coverage = "*"
pytest = "*"

[requires]
